.home{
  background:#0A1A2F;
  color:#F7F7F7;
  padding: 120px 20px;
  text-align: center;
}

.section-title{
  text-align: center;
  margin: 80px 0 20px;
}


.section-title p{
  max-width: 900px;
  margin: 0 auto;
}

.features{
  max-width:900px;
  margin:50px auto;
  list-style:none;
  padding:0;
}

.features li {
  background:#F7F7F7;
  border-left:5px solid #C8A855;
  padding:25px;
  border-radius:5px;
}


.features img{
  width:100%;
  border-radius:10px;
  margin-top:15px;
}